*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* navbar */
nav {
    background-color: #2b2e2c;
    height: 160px;

}

.container {
    position: relative;
    background-color: #2b2e2c;
}

.logo{
    height: 14vh;
    width: 14vw;
    margin: 20px;
}

.navbar {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 70%;
}

ul {
    /* border: white 2px solid; */
    width: 400px;
}

li {
    display: inline-flex;
    font-size: 22px;
    padding: 20px;
    letter-spacing: 0.03em; 
}

a {
    color: wheat;
    text-decoration: none;
}  

a:hover {
    text-decoration: underline;
}

/* main section */
.main{
    text-align: center;
    position: relative;

}
.wallpaper {
    opacity: 80%;
    max-width: 100%;
    margin-bottom: -5px;
    height: 700px;
    width: 100%;

}

.btn {
    display: block;
    position: absolute;
    bottom: 200px;
    left: 45%;
    text-align: center;
    padding: 1em ;
    color: white;
    background-color: #111;
    border-radius: 10px;
    border: 2px solid black;
    width: 170px;
    height: 70px;
    font-size: 20px;
    letter-spacing: 0.02sem;
    box-shadow: 3px 3px 2px #fff;
    letter-spacing: 0.2em;

}

.btn:hover {
    background-color: #2b2e2c;
    border: #2b2e2c 2px solid;
}

.text-container {
    display: block;
    position: absolute;
    bottom: 70px;
    left: 42%;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.1em;
    font: 25px;
    background-color: wheat;
    color: #111;
    padding: 1em 2em;
    height: 100px;
    width: 260px;
    z-index: 2;
    margin-top: -130px;
    border-radius: 10px;
}

/* footer */
.footer {
    text-align: center;
    background-color: #2b2e2c;
    color: wheat;
    padding: 1em;
    letter-spacing: 0.2em;;

}

.main1 {
    text-align: center;
    margin: 4em;
}

.main1 h1{
    padding-top: 5px;
    letter-spacing: 0.11em;
    font-family: sans-serif;
}



/* payment button */
#pay-button {
    text-align: center; /* aligns horizontally */
    display:  inline-flex;
    border: darkblue 4px solid;
    border-radius: 5px;
    margin: 26vh 43vw;
}

/* about us  section */
#aboutus {
    overflow-y: hidden;
    padding: 2em;
    /* border: 3px solid brown;    */
    background-color: #2b2e2c; 
    color: wheat;
    height: 50vh;  
}

#aboutus h1{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    color: whitesmoke;
}

.row {
    display: flex;
    /* border: 3px solid green; */
}
.row p{
    flex-direction: column;
    width: 33.33%;
    padding: 1em 12px;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}

/* contact us section */
.caption {
    font-family: 'PT Serif', serif;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 28px;
    font-weight: bold;

}

.contactus {
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0.5em;
    padding-bottom: 10px;
    font-weight: 900;
    /* border: mediumslateblue 4px groove; */
}

#form {
    position: relative;
}

.form-container {
    margin: 1em auto;
    background-color: wheat;
    border: brown 4px groove; 
    border-radius: 15px;
    padding: 2em;
    width: 30%;
    font-size: 18px;
    
}

.label {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.text {
    font-size: 18px;
    width: 80%;
    padding: 0.08em;
    font-family: 'Poppins', sans-serif;
}

.form-btn {
    position: absolute;
    top: 82%;
    right: 5%;
    text-align: center;
    margin: 0.8em 0;
    right: 70%;
    height: 50px;
    width: 150px;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow:3px 3px 2px rgb(255, 255, 255); 

}

/* Responsive  for iphoneX ---------------------------------------------------- */
@media screen and (max-width: 375px) {
    .wallpaper {
        width: 369px;
    }

    /* navbar */
    .navbar {
        display: inline-block;
        position: absolute;
        top: 50px;
        left: 25%;
    }

    ul {
        /* border: white 2px solid; */
        width: 300px;
    }

    li {
        display: inline-flex;
        font-size: 18px;
        padding: 8px;
        letter-spacing: 0.01em; 
    }

    a {
        color: wheat;
        text-decoration: none;
    }  
    
    a:hover {
        text-decoration: underline;
    }
    

    /* donate button */
    .btn {
        display: block;
        position: absolute;
        bottom: 200px;
        left: 30%;
        text-align: center;
        padding: 0.5em;
        color: white;
        background-color: #111;
        border-radius: 10px;
        border: 2px solid black;
        width: 135px;
        height: 55px;
        font-size: 20px;
        letter-spacing: 0.02sem;
        box-shadow: 3px 3px 2px #fff;
        letter-spacing: 0.2em;
    
    }
    
    .btn:hover {
        background-color: #2b2e2c;
        border: #2b2e2c 2px solid;
    }

    .text-container {
        display: block;
        position: absolute;
        bottom: 70px;
        left: 16%;
        letter-spacing: 0.1em;
        font: 23px;
        padding: 1em 1em;
        height: 80px;
        width: 260px;
        margin-top: -130px;
        border-radius: 10px;
    }

    /* about us  section */
    #aboutus {
        padding: 2em;
        height: 70vh;  
    }

    #aboutus h1{
        margin-bottom: 30px;
        letter-spacing: 0.06em;
    }

    .row {
        display: block;
        /* border: 3px solid green; */
    }
    .row p{
    
        /* flex-direction: row; */
        width: 100%;
        height: 100%;
        padding: 1em 12px;
        font-size: 15px;
    }

    /* contact us section */
    .caption {
        font-size: 20px;
    }

    .contactus {
        letter-spacing: 0.01em;
        margin: 0.5em;
        padding-bottom: 5px;
    }

    #form {
        position: relative;
    }

    .form-container {
        margin: 1em auto;
        border-radius: 15px;
        padding: 2em;
        width: 80%;
        font-size: 18px;
    }

    .label {
        letter-spacing: 0.05em;
    }
    
    .text {
        font-size: 18px;
        width: 80%;
        padding: 0.08em;
    }
    
    .form-btn {
        position: absolute;
        top: 82%;
        right: 5%;
        margin: 0.8em 0;
        right: 70%;
        height: 40px;
        width: 110px;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px; 
        margin-top: 1.2em;
    
    }

}

/* Responsive for android ---------------------------------*/
@media(max-width: 360px) {
    .wallpaper {
        width: 356px;  
    }

    /* about us  section */
    #aboutus {
        padding: 2em;
        height: 75vh;  
    }

    #aboutus h1{
        margin-bottom: 20px;
        letter-spacing: 0.06em;
    }

    .row {
        display: block;
        /* border: 3px solid green; */
    }
    .row p{
    
        /* flex-direction: row; */
        width: 100%;
        height: 100%;
        padding: 1em 12px;
        font-size: 13px;
    }
}

/* Responsive for pixel2 */
@media screen and (width: 411px) {
    .wallpaper {
        width: 405px;
    }
    /* navbar */
    .navbar {
        display: inline-block;
        position: absolute;
        top: 50px;
        left: 28%;
    }

    ul {
        /* border: white 2px solid; */
        width: 300px;
    }

    li {
        display: inline-flex;
        font-size: 18px;
        padding: 8px;
        letter-spacing: 0.01em; 
    }

    /* donate button */
    .btn {
        display: block;
        position: absolute;
        bottom: 200px;
        left: 30%;
        text-align: center;
        padding: 0.5em;
        color: white;
        background-color: #111;
        border-radius: 10px;
        border: 2px solid black;
        width: 135px;
        height: 55px;
        font-size: 20px;
        letter-spacing: 0.02sem;
        box-shadow: 3px 3px 2px #fff;
        letter-spacing: 0.2em;
    
    }
    
    .btn:hover {
        background-color: #2b2e2c;
        border: #2b2e2c 2px solid;
    }

    .text-container {
        display: block;
        position: absolute;
        bottom: 70px;
        left: 16%;
        letter-spacing: 0.1em;
        font: 23px;
        padding: 1em 1em;
        height: 80px;
        width: 260px;
        margin-top: -130px;
        border-radius: 10px;
    }

    /* about us  section */
    #aboutus {
        padding: 2em;
        height: 70vh;  
    }

    #aboutus h1{
        margin-bottom: 30px;
        letter-spacing: 0.06em;
    }

    .row {
        display: block;
        /* border: 3px solid green; */
    }
    .row p{
    
        /* flex-direction: row; */
        width: 100%;
        height: 100%;
        padding: 1em 12px;
        font-size: 15px;
    }

    /* contact us section */
    .caption {
        font-size: 20px;
    }

    .contactus {
        letter-spacing: 0.01em;
        margin: 0.5em;
        padding-bottom: 5px;
    }

    #form {
        position: relative;
    }

    .form-container {
        margin: 1em auto;
        border-radius: 15px;
        padding: 2em;
        width: 80%;
        font-size: 18px;
    }

    .label {
        letter-spacing: 0.05em;
    }
    
    .text {
        font-size: 18px;
        width: 80%;
        padding: 0.08em;
    }
    
    .form-btn {
        position: absolute;
        top: 82%;
        right: 5%;
        margin: 0.8em 0;
        right: 70%;
        height: 40px;
        width: 110px;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px; 
        margin-top: 1.2em;
    
    }

}






